{
    "title_list": [
        {
            "name": "백종원의 골목식당",
            "option": "720",
            "option2": "NEXT",
            "season": ""
        },
        {
            "name": "배가본드",
            "option": "720",
            "option2": "NEXT"
        }
    ]
}