{
  "download-base": "",
  "mail-noti": {
    "address": "email@sample.com",
    "cmd": "email_sender.sh 'torrent_web_scraper keyword notification mail' '$board_title' $address",
    "keywords": [
      "키워드",
      "키워드2"
    ]
  },
  "movie": {
    "download": "",
    "list": "Movie.txt",
    "ranking": 8,
    "resolution": "1080",
    "video_codec": "264",
    "titleScrap": {
      "url": "https://movie.daum.net/ranking/boxoffice/monthly"
    }
  },
  "page_scrap_max": 1,
  "program-list": "TVShow.json",
  "sites": [
    {
      "board": "GNBoardBasicSkin",
      "category": [
        {
          "history": 0,
          "name": "예능",
          "url": "bbs/board.php?bo_table=entertain"
        },
        {
          "history": 0,
          "name": "다큐",
          "url": "bbs/board.php?bo_table=tv"
        },
        {
          "history": 0,
          "name": "드라마",
          "url": "bbs/board.php?bo_table=drama"
        },
        {
          "history": 0,
          "name": "영화",
          "url": "bbs/board.php?bo_table=movie"
        }
      ],
      "enable": true,
      "mainUrl": "https://torrentsir31.com/",
      "name": "torrentsir"
    }
  ],
  "trans-host": "127.0.0.1",
  "trans-id": "transmission",
  "trans-port": "9091",
  "trans-pw": "transmission"
}
