{
    "download-base": "/home/pi",
    "mail-noti": {
        "address": "email@sample.com",
        "cmd": "email_sender.sh '$board_title' '등록한 키워드가 포함된 프로그램이 토렌트사이트에 등록되었습니다..' $address",
        "keywords": [
            "키워드",
            "키워드2"
        ]
    },
    "movie": {
        "download": "/home/pi",
        "list": "movie_list.txt",
        "ranking": 8,
        "resolution": "1080",
        "video_codec": "264"
    },
    "page_scrap_max": 1,
    "program-list": "program_list.json",
    "sites": [
        {
            "category": [
                {
                    "history": 0,
                    "idx": "torrent_kortv_ent",
                    "name": "예능",
                    "url": "https://torrentview14.net/bbs/board.php?bo_table=enter"
                },
                {
                    "history": 0,
                    "idx": "torrent_kortv_social",
                    "name": "다큐",
                    "url": "https://torrentview14.net/bbs/board.php?bo_table=tv"
                },
                {
                    "history": 0,
                    "idx": "torrent_kortv_drama",
                    "name": "드라마",
                    "url": "https://torrentview14.net/bbs/board.php?bo_table=drama"
                },
                {
                    "history": 0,
                    "idx": "torrent_movie",
                    "name": "영화",
                    "url": "https://torrentview14.net/bbs/board.php?bo_table=mov"
                }
            ],
            "enable": "False",
            "mainUrl": "https://torrentview14.net/",
            "name": "torrentview"
        },
        {
            "category": [
                {
                    "history": 0,
                    "idx": "torrent_kortv_ent",
                    "name": "예능",
                    "url": "https://torrentsir12.com/bbs/board.php?bo_table=entertain"
                },
                {
                    "history": 0,
                    "idx": "torrent_kortv_social",
                    "name": "다큐",
                    "url": "https://torrentsir12.com/bbs/board.php?bo_table=tv"
                },
                {
                    "history": 0,
                    "idx": "torrent_kortv_drama",
                    "name": "드라마",
                    "url": "https://torrentsir12.com/bbs/board.php?bo_table=drama"
                },
                {
                    "history": 0,
                    "idx": "torrent_movie",
                    "name": "영화",
                    "url": "https://torrentsir12.com/bbs/board.php?bo_table=movie"
                }
            ],
            "enable": "True",
            "mainUrl": "https://torrentsir12.com/",
            "name": "torrentsir"
        }
    ],
    "trans-host": "",
    "trans-id": "",
    "trans-port": "9091",
    "trans-pw": ""
}
