{
  "tvshow": {
    "download": "",
    "list": "TVShow.json",
    "checkEpisodeNubmer": false,
    "createTitleFolder": true
  },
  "movie": {
    "download": "",
    "list": "Movie.json",
    "resolution": 1080,
    "videoCodec": "264",
    "titleScrap": {
      "ranking": 8,
      "url": "https://movie.daum.net/ranking/boxoffice/monthly"
    },
    "exclude":""
  },
  "sites": [
    {
      "categories": [
        {
          "history": 0,
          "number": 0,
          "name": "영화",
          "scrapPage": 3,
          "url": "torrent/mov.html",
          "title": {
            "tag": "",
            "class": "",
            "selector": "ul.list-body > li.list-item"
          }
        },
        {
          "history": 0,
          "number": 0,
          "name": "방송",
          "scrapPage": 3,
          "url": "torrent/med.html",
          "title": {
            "tag": "",
            "class": "",
            "selector": "ul.list-body > li.list-item"
          }
        }
      ],
      "enable": true,
      "mainUrl": "https://torrentqq264.com/",
      "name": "토렌트큐큐"
    }
  ],
  "torrentHistory":"torrentHistory.csv",
  "torrentFail":"torrentFail.csv",
  "notification": {
    "cmd": "",
    "keywords": [
      "키워드",
      "키워드2"
    ],
    "history":"notiHistory.csv"
  },
  "transmission": {
    "host": "127.0.0.1",
    "port": 9091,
    "id": "transmission",
    "pw": "transmission",
    "puid": 1000,
    "pgid": 1000
  },
  "logging": {
    "logLevel": "ERROR",
    "logFile": "config/scraper.log"
  }
}
