{
    "json parser": "http://json.parser.online.fr/",
    "title_list": [
        {"name": "어게인 마이 라이프", "option": "720","option2":"Next" }
        ,{"name": "놀면 뭐하니", "option": "", "option2":""}
    ]
}
